.skills_container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  height: 90%;
  width: 70%;
  background: linear-gradient(180deg, #66f8f8, rgb(202, 244, 243));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3rem 3rem;
  border-radius: 1.25rem;
  gap: 1rem;
  border-bottom: 5px;
}
.skills_list {
  row-gap: 0.5rem;
}
.skills_title {
  display: flex;
  margin-bottom: 0.625rem;
  font-size: large;
  font-style: italic;
  color: darkblue;
}
.section_title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: bolder;
  color: darkblue;
}
.skills_group_Backend {
  display: grid;
  height: 150px;
  width: 50%;
  justify-content: center;
}
.skills_group_Frontend {
  display: flexbox;
  height: 150px;
  width: 50%;
  margin: auto auto 30px auto;
  justify-content: center;
  /* grid-template-areas: 10px; */
}
.skills_name {
  list-style-type: none;
  justify-items: center;
  font-size: 21px;
  color: gray;
  font-style: italic;
  cursor: pointer;
  margin: auto 0;
}
.skills_name_backend {
  list-style-type: none;
  justify-items: center;
  font-size: 21px;
  color: gray;
  font-style: italic;
  cursor: pointer;
  width: auto;
  /* margin: 0;
  padding: 0; */
}
.section_title:hover {
  color: gray;
}
.skills_name:hover {
  color: darkblue;
  cursor: pointer;
}
.skills_name_backend:hover {
  color: darkblue;
}
.skills_title:hover {
  color: gray;
}

.section_subtitle {
  justify-content: center;
  font-size: large;
  font-style: bold;
  color: gray;
  /* color: blue; */
}

/*for large devices*/
@media screen and (max-width: 992px) {
  .skills_container {
    grid-template-columns: max-content;
    row-gap: 0.5rem;
  }
}
/*for medium devices*/
@media screen and (max-width: 576px) {
  .skills_container {
    display: flex;
  }
  .skills_group {
  }
  .skills_content {
    padding: 1rem;
  }
}
/* for small screens */
@media screen and (max-width: 400px) {
  .skills_group_Backend {
    display: grid;
    height: 250px;
    width: 50%;
    justify-content: center;
  }
  .skills_group_Frontend {
    display: grid;
    min-height: 250px;
    width: 50%;
    justify-content: center;
    grid-template-areas: 10px;
  }
  .skills_name {
    list-style-type: none;
    justify-items: center;
    font-size: 15px;
    color: gray;
    font-style: italic;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .skills_name_backend {
    list-style-type: none;
    justify-items: center;
    font-size: 15px;
    color: gray;
    font-style: italic;
    cursor: pointer;
    width: auto;
    margin-bottom: 5px;
  }
}
