.home_section {
  display: flex;
  flex-direction: row;
  margin: 6.25rem;
  align-items: center;
  justify-content: center;
  /* padding: 100px;*/
}
.home_content.grid {
  grid-template-rows: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  row-gap: 2rem;
  align-items: center;
}

.home_subtitle {
  font-size: 25px;
  margin-left: 20px;
  font-weight: bolder;
  font-style: italic;
  color: #cd5888;
  justify-content: center;
  align-items: center;
}
.home_description {
  font-style: italic;
  color: #3a4856;
  justify-content: center;
  text-align: center;
}
.home_title {
  align-items: center;
  margin-left: 8rem;
  font-style: italic;
  /* color: darkblue; */
}

.home_image {
  width: 250px;
  height: 250px;
  border-radius: 35px;
  margin-top: 20px;
}

.button {
  display: inline-flex;
  margin-left: 50px;
  margin-top: 30px;
  padding-top: 5px;
  width: 100px;
  height: 30px;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #66f8f8, rgb(202, 244, 243));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: medium;
  font-style: bold;
  text-align: center;
  justify-items: center;
  row-gap: 10px;
  cursor: pointer;
  /* color: darkblue; */
}

.link {
  color: darkblue;
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  .Home_container_image {
    width: 100px;
    height: 100px;
  }
  .home_section {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .Home_container_image {
    width: 100px;
    height: 100px;
  }
  .home_section {
    display: flex;
    flex-direction: column;
    margin: 4.25rem;
    align-items: center;
    justify-content: center;
    /* min-height: 80vh; */
  }
  /* .home_container {
    flex-direction: column;
    justify-content: center;
    align-self: center;
  } */
  .home_subtitle {
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color: #cd5888;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
}
