.home_section {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}
.home_content.grid {
  grid-template-rows: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  row-gap: 2rem;
  align-items: center;
  /* padding: 50px 50px 400px 80px;
  margin: 10px 10px 10px 80px; */
}

.home_subtitle {
  position: relative;
  font-size: 25px;
  padding-left: 5.5rem;
  font-weight: bolder;
  font-style: italic;
  color: blue;
  /* color: #cd5888; */
  justify-content: center;
  align-items: center;
}

.home_description {
  max-width: 500px;
  margin-bottom: auto;
  font-style: italic;
  color: gray;
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
}
.home_title {
  font-size: big-font-Size;
  text-align: center;
  justify-items: center;
  margin-bottom: auto;
  font-style: italic;
  color: darkblue;
}

.home_image {
  /* background: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 0 9px rgb(255, 255, 255/30%) inset;
  border: 1; 
  justify-self: center;*/
  width: 250px;
  height: 250px;
  border-radius: 35px;
}

.button {
  display: inline-flex;
  margin-left: 100px;
  margin-top: 30px;
  padding-top: 5px;
  width: 100px;
  height: 30px;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #66f8f8, rgb(202, 244, 243));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: medium;
  font-style: bold;
  text-align: center;
  justify-items: center;
  row-gap: 10px;
  cursor: pointer;
  color: darkblue;
}

.link {
  color: darkblue;
  text-decoration: none;
}
