.nav {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  height: 100px;
  left: 23px;
  top: 0%;
  left: 0%;
  z-index: var(--z-fixed);
  transform: translate(0%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.nav_container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  background: linear-gradient(180deg, #66f8f8, rgb(202, 244, 243));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.nav_logo {
  color: darkblue;
  font-weight: font medium;
  font-style: italic;
  margin-left: 20px;
}
.nav_list {
  display: flex;
  column-gap: 2rem;
}
.nav_link {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  align-items: center;
  font-size: medium;
  font-weight: medium;
  transition: 0.3s;
  color: darkblue;
  text-decoration: none;
}
/*Active link*/
.active-link,
.nav_link:hover {
  color: gray;
}
@media screen and (max-width: 400px) {
  .nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
  }

  .hamburger {
    background: darkcyan;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    display: block;
    position: relative;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: "absolute";
    left: 0%;
    right: 0%;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: darkcyan;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }
  .hamburger::after {
    top: 6px;
  }
  .hamburger::before {
    bottom: 6px;
  }
}
