.lightMode {
  background-color: #e0ffff;
  color: darkblue;
}

.darkMode {
  background-color: darkblue;
  color: #e0ffff;
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons_light {
  width: 30px;
  height: 30px;
  display: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: aquamarine;
  background: darkblue;
}
.icons_dark {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: aquamarine;
  background-color: darkblue;
}
